/***********/
/** FONTS **/
/***********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/************/
/** COLORS **/
/************/
/*************/
/** EXTENDS **/
/*************/
.button:hover, .button:active {
  border: 1px solid #b3b5c6;
  color: #696fdd;
  background: white;
}

.button-recommended:hover, .button-recommended:active {
  border: 1px solid #b3b5c6;
  color: white;
  background: transparent;
}

.toogle__label:hover, .toogle__label:active {
  opacity: 0.65;
}

/*************/
/** GENERAL **/
/*************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 15px;
  background-image: url("../assets/images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: 195px -35px;
  background-color: #f6f6fe;
}
@media only screen and (min-width: 500px) {
  body {
    background-position: 300px -35px;
  }
}
@media only screen and (min-width: 600px) {
  body {
    background-position: 400px -35px;
  }
}
@media only screen and (min-width: 700px) {
  body {
    background-position: 500px -35px;
  }
}
@media only screen and (min-width: 800px) {
  body {
    background-position: 600px -35px;
  }
}
@media only screen and (min-width: 900px) {
  body {
    background-position: 700px -35px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background-position: 825px -35px;
  }
}
@media only screen and (min-width: 1100px) {
  body {
    background-image: url("../assets/images/bg-top.svg"), url("../assets/images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-size: 25%;
    background-attachment: fixed;
  }
}

main {
  padding-bottom: 50px;
}

.toogle {
  user-select: none;
}
.toogle__checkbox:checked + .toogle__label::after {
  transform: translateX(0);
}
.toogle__label {
  display: flex;
  width: 56px;
  height: 32px;
  padding: 4px;
  border-radius: 25px;
  position: relative;
  align-items: center;
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}
.toogle__label::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateX(24px);
}
.toogle__label:hover {
  cursor: pointer;
}
.toogle__checkbox {
  display: none;
}

.header {
  padding: 45px 0 65px 0;
  text-align: center;
}

.plans-mode {
  display: flex;
  width: 100%;
  max-width: 250px;
  margin: 30px auto 0 auto;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
@media only screen and (min-width: 1100px) {
  .pricing {
    flex-direction: row;
    justify-content: center;
  }
}

.title {
  margin: 20px 0;
  font-size: 2.1em;
  color: #6d708d;
}

.plan-title {
  color: #b3b5c6;
}

.plan-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1em;
  color: #494c5f;
}
.plan-price strong {
  font-size: 1.9em;
}
@media only screen and (min-width: 375px) {
  .plan-price {
    font-size: 2.4em;
  }
}

.white-text {
  color: white;
}

.pricing-box {
  width: 100%;
  max-width: 335px;
  padding: 35px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  color: #6d708d;
  background-color: white;
  box-shadow: 0px 0px 5px -3px black;
}
.pricing-box__title {
  margin-bottom: 20px;
}
.pricing-box__features {
  list-style: none;
  padding: 25px 0;
}
.pricing-box__features li {
  padding: 17px 0;
  border-top: 1px solid lightgrey;
}
.pricing-box__features li:last-child {
  border-bottom: 1px solid lightgrey;
}
@media only screen and (min-width: 1100px) {
  .pricing-box:first-child {
    border-radius: 10px 0 0 10px;
  }
  .pricing-box:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.pricing-recommended {
  color: white;
  background-image: linear-gradient(to bottom, #a3a8f0, #696fdd);
}
@media only screen and (min-width: 1100px) {
  .pricing-recommended {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button {
  width: 100%;
  padding: 15px;
  border: 1px solid #b3b5c6;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: white;
  outline: none;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
}
.button:hover {
  cursor: pointer;
}

.button-recommended {
  color: #696fdd;
  background: white;
}
.button-recommended:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
