.toogle {
  user-select: none;
  &__checkbox:checked + &__label::after {
    transform: translateX(0);
  }
  &__label {
    display: flex;
    width: 56px;
    height: 32px;
    padding: 4px;
    border-radius: 25px;
    position: relative;
    align-items: center;
    background-image: linear-gradient(to right, $gradient-left, $gradient-right);
    &::after{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      background-color: white;
      transition-duration: $duration-animation;
      transition-property: transform;
      transform: translateX(24px);
    }
    &:active {
      @extend %toogle-active-hover;
    }
    @include media(display6) {
      &:hover {
        cursor: pointer;
        opacity: .65;
      }
    }
  }
  &__checkbox {
    display: none;
  }
}
