.pricing-box {
  width: 100%;
  max-width: 335px;
  padding: 35px 30px;
  margin-bottom: 30px;
  border-radius: $radius-box;
  text-align: center;
  color: $medium-color;
  background-color: white;
  box-shadow: 0px 0px 5px -3px black;
  &__title {
    margin-bottom: 20px;
  }
  &__features {
    list-style: none;
    padding: 25px 0;
    li {
      padding: 17px 0;
      border-top: 1px solid lightgrey;
    }
    li:last-child {
      border-bottom: 1px solid lightgrey;
    }
  }
  @include media(display7) {
    &:first-child {
      border-radius: $radius-box 0 0 $radius-box;
    }
    &:last-child {
      border-radius: 0 $radius-box $radius-box 0;
    }
  }
}

.pricing-recommended {
  color: white;
  background-image: linear-gradient(to bottom, $gradient-left, $gradient-right);
  @include media(display7) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
