.button {
  width: 100%;
  padding: 15px;
  border: 1px solid $light-color;
  border-radius: $radius-button;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .15em;
  color: white;
  outline: none;
  background: linear-gradient(to right, $gradient-left, $gradient-right);
  &:active {
    @extend %pricing-active-hover;
  }
  &:hover {
    cursor: pointer;
    @extend %pricing-active-hover;
  }
}

.button-recommended {
  color: $gradient-right;
  background: white;
  &:active{
    @extend %pricing-active-hover-recommended;
  }
  &:hover{
    cursor: pointer;
    @extend %pricing-active-hover-recommended;
  }
}
